.auth-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-island {
  position: relative;
  z-index: 1;
  background-color: var(--bg);
  border: 2px solid var(--primary-2);
  border-radius: var(--border-radius);
  padding: 25px;
}

.island-header {
  padding-bottom: 10px;
  border-bottom: 2px dotted var(--primary-2);
}

.island-header h1 {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container img {
  width: 150px;
}

.island-main {
  margin-top: 15px;
}

.island-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.auth-note {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}
