.social-root {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  height: calc(100vh - 140px);
  overflow: hidden;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.social-sidebar {
  position: fixed;
  top: 140px;
  left: 0;
  height: calc(100vh - 140px);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg);
  border-right: 2px dashed var(--primary-3);
  z-index: 0;
}

.social-sidebar-inner {
  flex: 1;
  overflow-y: auto;
  margin-left: 15px;
}

.social-sidebar-rooms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-room-item {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px dashed var(--primary-2);
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  min-width: 200px;
}

.social-room-item:hover,
.social-room-item.active {
  background-color: var(--primary-1);
}

.social-main {
  margin-left: 300px;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-main-bottom {
  margin-top: auto;
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 15px;
}

.social-message-input {
  flex: 1;
}

.social-message-send {
  background: none;
  border: none;
  cursor: pointer;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.message-item {
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--dark-bg);
  border: 2px solid var(--primary-2);
  width: 70%;
  word-wrap: break-word;
}

.message-item.self {
  align-self: flex-end;
  background-color: var(--primary-1);
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-sender {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-badge {
  background-color: var(--primary-1);
  color: var(--text);
  padding: 1px 3px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-2);
  font-size: 0.6rem;
  font-weight: 600;
}

.message-badge.social-mod {
  background-color: var(--primary-1);
  border: 2px solid var(--primary-2);
}

.message-badge.game-mod {
  background-color: var(--blue-1);
  border: 2px solid var(--blue-2);
}

.message-badge.admin {
  background-color: var(--purple-1);
  border: 2px solid var(--purple-2);
}

.message-badge.owner {
  background-color: var(--red-1);
  border: 2px solid var(--red-2);
}

.message-content {
  white-space: pre-wrap;
}
