.social-root {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  height: calc(100vh - 140px);
  overflow: hidden;
  flex: 1;
  min-height: 0;
  width: 100%;
}

.social-sidebar {
  position: fixed;
  top: 140px;
  left: 0;
  height: calc(100vh - 140px);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg);
  border-right: 2px dashed var(--primary-3);
  z-index: 0;
}

.social-sidebar-inner {
  flex: 1;
  overflow-y: auto;
  margin-left: 15px;
}

.social-sidebar-rooms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-room-item {
  padding: 10px;
  border-radius: var(--border-radius);
  border: 2px dashed var(--primary-2);
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  min-width: 200px;
}

.social-room-item:hover,
.social-room-item.active {
  background-color: var(--primary-1);
}

.social-main {
  margin-left: 300px;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-main-bottom {
  margin-top: auto;
  display: flex;
  gap: 10px;
  width: 100%;
  padding-bottom: 15px;
}

.social-message-input {
  flex: 1;
}

.social-message-send {
  background: none;
  border: none;
  cursor: pointer;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  flex: 1;
  min-height: 0;
}

.context-menu {
  z-index: 9999;
  background: var(--bg);
  border: 2px solid var(--primary-2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  min-width: 160px;
}

.context-menu-item {
  padding: 8px 12px;
  cursor: pointer;
  color: var(--text);
  font-weight: 600;
  transition: 0.2s background;
}

.context-menu-item svg {
  width: 22px;
  height: 22px;
  margin-right: 8px;
}

.context-menu-item > * {
  vertical-align: middle;
}

.context-menu-item:hover {
  background: var(--primary-1);
}

.social-modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.social-modal-actions {
  display: flex;
  gap: 10px;
}
