# MongoDB connection string
MONGO_URI=mongodb://localhost:27017/monix

# Server port
PORT=6200

# Server environment
DEV=true

# Log level (e.g., info, debug, error)
LOG_LEVEL=info

# CORS allowed origins (comma-separated)
CORS_ORIGINS=http://localhost:5173,https://monix.proplayer919.dev

# Session expiration time in seconds
SESSION_EXPIRES_IN=172800 # 2 days

# Stripe secrets
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret_here
STRIPE_SECRET_KEY=your_stripe_secret_key_here

# Price IDs
PRICE_ID_GEMS_PACK_100=price_1
PRICE_ID_GEMS_PACK_500=price_2
PRICE_ID_GEMS_PACK_1000=price_3

# Webhooks (Comment out to disable)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_id/your_webhook_token

# Server public IP (optional, used for logging)
SERVER_PUBLIC_IP=your_server_public_ip_here
