.gem-card {
  border-radius: var(--border-radius);
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
  transition: transform 0.2s ease-in-out;
}

.gem-card:hover {
  transform: translateY(-5px);
}

.gem-card-header img {
  width: 100%;
  height: 100px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  object-fit: cover;
}

.gem-card-body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gem-amount {
  font-size: 1.5em;
  margin: 0;
}

.gem-price {
  font-size: 1.2em;
  color: var(--text-muted);
  margin: 5px 0 0 0;
}
