.nameplate-svg {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  font-weight: 700;
}

.nameplate-svg__svg {
  display: block;
  height: 1em;
  width: auto;
}

.nameplate-svg__text {
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  dominant-baseline: alphabetic;
  text-rendering: geometricPrecision;
}

.nameplate-svg__text--shine {
  opacity: 0.8;
}
