.graph-container {
  margin-top: 20px;
  width: fit-content;
  height: 300px;
  border: 2px solid var(--primary-2);
  border-radius: var(--border-radius);
  padding: 16px;
  box-sizing: border-box;
  background-color: var(--dark-bg);
  display: flex;
  flex-direction: column;
}

.graph-under {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  gap: 10px;
  color: var(--text-primary);
  font-size: 0.9rem;
}

.graph-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.graph-info > span {
  display: block;
  width: fit-content;
  border: 2px solid var(--primary-2);
  padding: 4px 8px;
  border-radius: var(--border-radius);
  background-color: var(--bg);
}
