.checkbox {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.checkbox-inner {
  background-color: transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  min-height: 30px;
  min-width: 30px;
  box-sizing: border-box;
  position: relative;
}

.checkbox-inner.primary {
  border: 2px solid var(--primary-2);
}

.checkbox-inner.primary.checked {
  background-color: var(--primary-1);
}

.checkbox-inner.blue {
  border: 2px solid var(--blue-2);
}

.checkbox-inner.blue.checked {
  background-color: var(--blue-1);
}

.checkbox-inner.red {
  border: 2px solid var(--red-2);
}

.checkbox-inner.red.checked {
  background-color: var(--red-1);
}

.checkbox-inner.purple {
  border: 2px solid var(--purple-2);
}

.checkbox-inner.purple.checked {
  background-color: var(--purple-1);
}

.checkbox-label {
  margin-left: 8px;
  user-select: none;
}

.checkbox-inner[disabled],
.checkbox-inner.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
