.app-footer {
  margin-top: 20px;
  padding: 15px;
  border-top: 2px dashed var(--primary-3);
  text-align: center;
  background-color: var(--bg);
  color: var(--text-muted);
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (max-width: 480px) {
  .app-footer {
    position: relative;
  }
}
