.money-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.money-bg::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image:
    linear-gradient(var(--primary-2) 1px, transparent 1px),
    linear-gradient(90deg, var(--primary-2) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveGrid 1s linear infinite;
  transform: rotate(-15deg);
}

@keyframes moveGrid {
  0% {
    transform: rotate(-15deg) translateY(0);
  }

  100% {
    transform: rotate(-15deg) translateY(40px);
  }
}
