.resource-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  align-items: stretch;
  width: 100%;
}

@media (max-width: 768px) {
  .resource-list {
    grid-template-columns: 1fr;
  }
}
