#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.app-header {
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  border-bottom: 2px dashed var(--primary-3);
  position: relative;
  z-index: 1;
  background-color: var(--bg);
  height: 100px;
}

.app-header .spacer {
  flex-grow: 1;
}

.app-logo {
  height: 65px;
}

.nav-tabs {
  margin-top: 10px;
  display: flex;
  gap: 15px;
}

.nav-tabs span {
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid var(--primary-2);
  border-left: 2px solid var(--primary-2);
  border-right: 2px solid var(--primary-2);
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-tabs span.active {
  background-color: var(--dark-bg);
  font-weight: 600;
}

.nav-tabs span:hover {
  background-color: var(--dark-bg);
}

.app-main {
  padding: 20px;
}

.money-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}

.money-bg::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image:
    linear-gradient(var(--primary-2) 1px, transparent 1px),
    linear-gradient(90deg, var(--primary-2) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: moveGrid 1s linear infinite;
  transform: rotate(-15deg);
}

@keyframes moveGrid {
  0% {
    transform: rotate(-15deg) translateY(0);
  }

  100% {
    transform: rotate(-15deg) translateY(40px);
  }
}

.money-tab-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 140px);
}

.money-tab-content h1 {
  font-size: 8em;
  color: var(--text-muted);
}

.money-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
