:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colours */
  --bg: #f3ffe3;
  --dark-bg: #e6ffc5;
  --primary-1: #c1ff72;
  --primary-2: #9ee34a;
  --primary-3: #7cd628;
  --accent-1: #72d4ff;
  --accent-2: #4ab9e3;
  --accent-3: #28a0d6;
  --text: #262626;
  --text-muted: #171717;
  --error: #ff5252;
  --error-2: #ff3838;

  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--text);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
