:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Colours */
  --dark-bg: #121212;
  --bg: #1e1e1e;
  --light-bg: #252525;
  --primary-1: #c1ff72;
  --primary-2: #9ee34a;
  --primary-3: #7cd628;
  --accent-1: #72d4ff;
  --accent-2: #4ab9e3;
  --accent-3: #28a0d6;
  --text: rgba(255, 255, 255, 0.87);
  --text-muted: rgba(255, 255, 255, 0.6);
  --error: #ff5252;
  --error-2: #ff3838;

  --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text);
}

a {
  font-weight: 500;
  color: var(--primary-1);
  text-decoration: inherit;
}

a:hover {
  color: var(--primary-2);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--light-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--primary-3);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
