.settings-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 30px 10px 30px;
}

.settings-header {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 30px;
  border-bottom: 2px dashed var(--primary-2);
  padding-bottom: 5px;
}

.settings-confirm-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.settings-qr-code {
  width: 200px;
  height: 200px;
  margin: auto;
}
