.message-item {
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg);
  border: 2px solid var(--primary-2);
  width: 70%;
  word-wrap: break-word;
}

.message-item.self {
  align-self: flex-end;
}

.message-item.ephemeral {
  border: 2px dashed var(--primary-2);
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.message-avatar.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.message-sender {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-badge {
  background-color: var(--primary-1);
  color: var(--text);
  padding: 1px 3px;
  border-radius: var(--border-radius);
  border: 2px solid var(--primary-2);
  font-size: 0.7rem;
  font-weight: 600;
}

.message-badge.social-mod {
  background-color: var(--primary-1);
  border: 2px solid var(--primary-2);
}

.message-badge.game-mod {
  background-color: var(--blue-1);
  border: 2px solid var(--blue-2);
}

.message-badge.admin {
  background-color: var(--purple-1);
  border: 2px solid var(--purple-2);
}

.message-badge.owner {
  background-color: var(--red-1);
  border: 2px solid var(--red-2);
}

.message-badge.system {
  background-color: var(--red-1);
  border: 2px solid var(--red-2);
}

.message-content {
  white-space: pre-wrap;
}

.message-content.shouted {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.message-clickable {
  cursor: pointer;
}

.message-clickable:hover {
  text-decoration: underline;
}

.message-mention {
  color: var(--primary-3);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.message-mention:hover {
  text-decoration: underline;
}

.message-metadata {
  font-style: italic;
}
