.message-item {
  padding: 10px;
  border-radius: var(--border-radius);
  background-color: var(--bg);
  border: 2px solid var(--primary-2);
  width: 70%;
  word-wrap: break-word;
}

.message-item.self {
  align-self: flex-end;
}

.message-item.ephemeral {
  border: 2px dashed var(--primary-2);
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.message-sender {
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
}

.message-content {
  white-space: pre-wrap;
}

.message-content.shouted {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.message-clickable {
  cursor: pointer;
}

.message-clickable:hover {
  text-decoration: underline;
}

.message-mention {
  color: var(--primary-3);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.message-mention:hover {
  text-decoration: underline;
}

.message-metadata {
  font-style: italic;
}
